body {
  font-family: Lato;
  color: white;
  background-image: url('https://cdn.jsdelivr.net/gh/ohlookitsderpy/Space@master/wallpaper.jpg');
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height: 100% !important;
  background-color: black;
}

.background {
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  background-color: black;
  position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
}
