body {
  font-family: Lato;
  color: white;
  background-image: url('https://cdn.jsdelivr.net/gh/ohlookitsderpy/Space@master/wallpaper.jpg');
  background-attachment: fixed !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height: 100% !important;
  background-color: black;
}
